<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Travel Planner App</title>
    </head>

    <body>
        <!-- Header -->
        <header class="header">

            <h2 class="header-title">Travel Planner App</h2>
                <div class="dropdown">
                    <a class="dropdown-link" href='#about'>About</a>
                    <div class="dropdown-content">
                        Enter a city, a departure date within 15 days, and a return date. You
                        will receive information and images relevant to the destination city and country.
                    </div>
                </div>

        </header>

        <main>
            <section class="planner" onsubmit="return Client.handleSubmit(event)">
                <div id="planner-title">
                    <h3>Create A Plan Below</h3>
                </div>
              <form id="plan-create" class="form-plan">
                <label for="location">Where would you like to go?:</label>
                <input id="destination" name="location" type="text" placeholder="e.g. London" required>

                <div class="dates">
                    <label for="departure">Date to depart:</label>
                    <input id="date-departure" name="departure" type="date" required>

                    <label for="return">Date to return:</label>
                    <input id="date-return" name="return" type="date" required>
                </div>

                <input type="submit" id="button-submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                <div id="quote">"We travel not to escape life but for life not to escape us" - Marina Richter</div>
              </form>
            </section>

            <!-- <section id="result-data"> -->
                <section id="result-info" class="section-result">
                    <div class="container-results">
                        <div class="trip-info">
                            <div id="date-info">
                                <h4>Trip Date Information:</h4>
                                <p id="departure-date-result">Departure Date: <span id="departure"></span></p>
                                <p id="return-date-result">Return Date: <span id="return"></span></p>
                                <p id="days-out-result">Days Until Trip: <span id="days-out"></span></p>
                                <p id="days-duration-result">Trip Duration: <span id="trip-duration"></span></p>
                            </div>
                            <div id="destination-info">
                                <h4>City Information:</h4>
                                <p id="city-result">City: <span id="city"></span></p>
                                <p id="province-result">State/Province: <span id="province"></span></p>
                                <p id="country-result">Country: <span id="country"></span></p>
                            </div>
                            <div id="travel-advisory-info">
                                <h4>Travel Advisory:</h4>
                                <p id="advisory-result"></p>
                                <p id="further-info"></p>
                                <a id="hyperlink" href=""></a>
                            </div>
                        </div>
                        <div id="country-info">
                            <h4>Country Information:</h4>
                            <p id="capital-result">Country Captial: <span id="capital"></span></p>
                            <p id="demonym-result">Country Demonym: <span id="demonym"></span></p>
                            <p id="languages-result">Official Language(s): <span id="languages"></span></p>
                            <p id="currency-result">Currency Name/Code/Symbol: <span id="curr-name"></span> / 
                            <span id="curr-code"></span> / <span id="curr-symbol"></span></p>
                            <img id="flag-result" alt="national_flag">
                        </div>
                        <div id="weather-info">
                            <h4>Weather Information:</h4>
                            <img id="weather-icon" alt="weather_description_icon">
                            <p id="weather-description">Weather Description: <span id="weather-desc"></span></p>
                            <p id="high-temp-result">Temperature (High): <span id="high-temp"></span></p>
                            <p id="low-temp-result">Temperature (Low): <span id="low-temp"></span></p>
                            <p id="humidity-result">Humidity (%): <span id="humidity"></span></p>
                            <p id="prob-precipitation">Probability of Precipitation (%): <span id="precipitation"></span></p>
                        </div>
                        <div id="image-info">
                            <h4>Destination Images:</h4>
                            <div id="pixabay-images">
                                <img alt="destination_image_1" id="pixabay1">
                                <img alt="destination_image_2" id="pixabay2">
                                <img alt="destination_image_3" id="pixabay3">
                            </div>
                        </div>
                        <div class="print-delete">
                            <a id="print" href="#">Print</a>
                            <a id="delete" href="#">Delete</a>
                        </div>
                    </div>
                </section>
            <!-- </section> -->
                <section class="sponsor-icons">
                    <img src="../api_logos/udacity.png" alt="udacity-logo" class="api-logo" id="udacity-logo">
                    <img src="../api_logos/geonames.png" alt="geonames-logo" class="api-logo" id="geonames-logo">
                    <img src="../api_logos/weatherbit.png" alt="weatherbit-logo" class="api-logo" id="weatherbit-logo">
                    <img src="../api_logos/pixabay.png" alt="pixabay-logo" class="api-logo" id="pixabay-logo">
                    <img src="../api_logos/RESTCountries.png" alt="RESTCountries-logo" class="api-logo" id="RESTCountries-logo">
                    <img src="../api_logos/travel-advisory.png" alt="travel-advisory-logo" class="api-logo" id="travel-advisory-logo">
                </section>
        </main>
    
        <footer>
            <section class="social-media-container">
                <img src="../media/facebook.png" alt="facebook-logo" class="social-media-icon">
                <img src="../media/instagram.png" alt="instagram-logo" class="social-media-icon">
                <img src="../media/Linkedin.png" alt="linkedin-logo" class="social-media-icon">
                <img src="../media/twitter.png" alt="twitter-logo" class="social-media-icon">
            </section>
            <section class="author-container">
                <div id=author>Raphael Dozzi - November 2020</div>
                <img src="../media/snoopy_peanuts.png" alt="avatar" id="author-avatar">
            </section>
        </footer>
            
    </body>
