<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Travel Planner App</title>
    </head>

    <body>
        <!-- Header -->
        <header class="header">
            <h2 class="header__title">Travel Planner App</h2>
            <div class="dropdown">
                <a class="dropdown__link" href='#about'>About</a>
                <div class="dropdown__content">
                    Enter a city, a departure date within 15 days, and a return date. You
                    will get information and images relevant to the destination city and country.
                </div>
            </div>
        </header>

        <main>
            <section onsubmit="return Client.handleSubmit(event)">
              <h3>Create A Plan</h3>
              <form id="plan-create" class="form-plan">
                <label for="location">Where would you like to go?:</label>
                <input id="destination" name="location" type="text" required>

                <label for="departure">Date to depart:</label>
                <input id="date-departure" name="departure" type="date" required>

                <label for="return">Date to return:</label>
                <input id="date-return" name="return" type="date" required>

                <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
              </form>
            </section>

            <!-- <section id="result-data"> -->
                <section id="result__info" class="section__result invisible">
                    <div class="container__results">
                        <div class="date__info">
                            <h4>Trip Date Information:</h4>
                            <p id="departure__date__result">Departure Date: <span id="departure"></span></p>
                            <p id="return__date__result">Return Date: <span id="departure"></span></p>
                            <p id="days__out__result">Days Until Trip: <span id="days__out"></span></p>
                            <p id="days__duration__result">Trip Duration: <span id="trip__duration"></span></p>
                        </div>
                        <div class="destination__info">
                            <h4>City Information:</h4>
                            <p id="city__result">City: <span id="city"></span></p>
                            <p id="province__result">State/Province: <span id="province"></span></p>
                            <p id="country__result">Country: <span id="country"></span></p>
                        </div>
                        <div class="weather__info">
                            <h4>Weather Information:</h4>
                            <p id="high__temp__result">Temperature (High): <span id="high__temp"></span></p>
                            <p id="low__temp__result">Temperature (Low): <span id="low__temp"></span></p>
                            <p id="humidity__result">Humidity (%): <span id="humidity"></span></p>
                            <p id="prob__precipitation">Probability of Precipitation (%): <span id="precipitation"></span></p>
                            <p id="weather__description">Weather Description: <span id="weather__desc"></span></p>
                            <img id="weather__icon" alt="weather_description_icon">
                        </div>
                        <div class="country__info">
                            <h4>Country Information:</h4>
                            <p id="capital__result">Country Captial: <span id="capital"></span></p>
                            <p id="demonym__result">Country Demonym: <span id="demomym"></span></p>
                            <p id="languages__result">Official Languages: <span id="languages"></span></p>
                            <p id="currency__result">Currency Name: <span id="curr__name"></span> 
                               Currency Code: <span id="curr__code"></span> Currency Symbol: <span id="curr__symbol"></span></p>
                            <img id="flag__result" alt="national_flag">
                        </div>
                        <div class="tarvel__advisory__info">
                            <h4>Travel Advisory:</h4>
                            <p class="advisory" id="advistory__result"></p>
                            <p class="advisory" id="advisotry__link"></p>
                        </div>
                        <div class="pixabay__images">
                            <h4>Destination Images:</h4>
                            <img alt="destination_image_1" id="pixabay1">
                            <img alt="destination_image_2" id="pixabay2">
                            <img alt="destination_image_3" id="pixabay3">
                        </div>
                        <div class="print__delete">
                            <a class="button__print" id="save" href="#">Print</a>
                            <a class="button__delete" id="delete" href="#">Delete</a>
                        </div>
                    </div>
                </section>
        </main>
    
    <footer>
                <p></p>
            </footer>
            
        </body>
