<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Travel Planner App</title>
    </head>

    <body>
        <!-- Header -->
        <header class="header">
            <h2 class="header-title">Travel Planner App</h2>
            <div class="dropdown">
                <a class="dropdown-link" href='#about'>About</a>
                <div class="dropdown-content">
                    Enter a city, a departure date within 15 days, and a return date. You
                    will get information and images relevant to the destination city and country.
                </div>
            </div>
        </header>

        <main>
            <section onsubmit="return Client.handleSubmit(event)">
                <div class="planner-title">
                    <h3>Discover Great Places</h3>
                    <h3>Create A Plan Below</h3>
                </div>
              <form id="plan-create" class="form-plan">
                <label for="location">Where would you like to go?:</label>
                <input id="destination" name="location" type="text" placeholder="e.g. London" required>

                <label for="departure">Date to depart:</label>
                <input id="date-departure" name="departure" type="date" required>

                <label for="return">Date to return:</label>
                <input id="date-return" name="return" type="date" required>

                <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
              </form>
            </section>

            <!-- <section id="result-data"> -->
                <section id="result-info" class="section-result-invisible">
                    <div class="container-results">
                        <div class="date-info">
                            <h4>Trip Date Information:</h4>
                            <p id="departure-date-result">Departure Date: <span id="departure"></span></p>
                            <p id="return-date-result">Return Date: <span id="return"></span></p>
                            <p id="days-out-result">Days Until Trip: <span id="days-out"></span></p>
                            <p id="days-duration-result">Trip Duration: <span id="trip-duration"></span></p>
                        </div>
                        <div class="destination-info">
                            <h4>City Information:</h4>
                            <p id="city-result">City: <span id="city"></span></p>
                            <p id="province-result">State/Province: <span id="province"></span></p>
                            <p id="country-result">Country: <span id="country"></span></p>
                        </div>
                        <div class="weather-info">
                            <h4>Weather Information:</h4>
                            <p id="high-temp-result">Temperature (High): <span id="high-temp"></span></p>
                            <p id="low-temp-result">Temperature (Low): <span id="low-temp"></span></p>
                            <p id="humidity-result">Humidity (%): <span id="humidity"></span></p>
                            <p id="prob-precipitation">Probability of Precipitation (%): <span id="precipitation"></span></p>
                            <p id="weather-description">Weather Description: <span id="weather-desc"></span></p>
                            <img id="weather-icon" alt="weather_description_icon">
                        </div>
                        <div class="country-info">
                            <h4>Country Information:</h4>
                            <p id="capital-result">Country Captial: <span id="capital"></span></p>
                            <p id="demonym-result">Country Demonym: <span id="demonym"></span></p>
                            <p id="languages-result">Official Language(s): <span id="languages"></span></p>
                            <p id="currency-result">Currency Name: <span id="curr-name"></span> 
                               Currency Code: <span id="curr-code"></span> Currency Symbol: <span id="curr-symbol"></span></p>
                            <img id="flag-result" alt="national_flag">
                        </div>
                        <div class="tarvel-advisory-info">
                            <h4>Travel Advisory:</h4>
                            <p class="advisory" id="advistory-result"></p>
                            <p class="advisory" id="advisotry-link"></p>
                        </div>
                        <div class="pixabay-images">
                            <h4>Destination Images:</h4>
                            <img alt="destination_image_1" id="pixabay1">
                            <img alt="destination_image_2" id="pixabay2">
                            <img alt="destination_image_3" id="pixabay3">
                        </div>
                        <div class="print-delete">
                            <a class="button-print" id="save" href="#">Print</a>
                            <a class="button-delete" id="delete" href="#">Delete</a>
                        </div>
                    </div>
                </section>
                <section>
                    <!-- <img src="./api-logos/udacity.png" alt="udacity-logo"> -->
                </section>
        </main>
    
    <footer>
        <div></div>
    </footer>
            
        </body>
