body {
    background-image: url('../media/background.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.planner {
    background-color: FBFFF1;
    border-radius: 25px;
    display: inline-block;
    width: 45%;
    min-width: 45%;
    margin-left: 25%;
    
}

#planner-title{
    text-align: center;
}

.form-plan{
    display: grid;
    grid-gap: 6px;
    justify-content: center;
}

#button-submit{
    width: 50%;
    margin-left: 25%;
}

#button-submit:hover {
    font-weight: bold;
}