body {
    background-image: url('../media/background.jpg');
    background-repeat: round;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.planner {
    background-color: FBFFF1;
    border-radius: 25px;
    border: solid;
    border-width: 5px;
    display: inline-block;
    width: 70%;
    min-width: 45%;
    margin-left: 10%;
    margin-bottom: 10px;
}

#planner-title{
    text-align: center;
}

.form-plan{
    display: grid;
    grid-gap: 6px;
    justify-content: center;
}

#button-submit{
    width: 50%;
    margin-left: 25%;
}

#button-submit:hover {
    font-weight: bold;
}