footer {
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(1, 1fr); 
    grid-column-gap: 10px;
    background-color: FBFFF1;
}

.social-media-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media-icon {
    width: 5%;
    height: auto;
    padding: 10px;
}

.author-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#author {
    font-size: 16px;
    font-weight: bolder;
}

#author-avatar {
    width: 5%;
    height: auto;
}
