.social-media-container {
    display: flex;
    justify-content: center;
}

.social-media-icon {
    width: 5%;
    height: auto;
    padding: 10px;
}

.author-container {
    display: flex;
    justify-content: center;
}

#author-avatar {
    width: 5%;
    height: auto;
}
