$container-color: FBFFF1;
$card-color: F1F4E1;
$border-radius: 25px;

.section-result {
    display: grid;
    grid-auto-flow: row;
    background-color: $container-color;
    border-radius: $border-radius;
    width: 100%;
}

.trip-info{
    display: flex;
    justify-content: space-evenly;
}

#date-info{
    background-color: $card-color;
    border-radius: $border-radius;
}

#destination-info{
    background-color: $card-color;
    border-radius: $border-radius;
}

#country-info{
    display: grid;
    background-color: $card-color;
    border-radius: $border-radius;
}

#travel-advisory-info {
    display: flex;
    flex-wrap: row wrap;
    background-color: F0B4B4;
    border-radius: $border-radius;
}

#advisory-result {
    max-width: fit-content;
}

#weather-info {
    display: grid;
    background-color: BAE0F4;
    border-radius: $border-radius;
}

#pixabay-images {
    display: flex;
    flex-flow: row nowrap;
}

.print-delete{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}