.sponsor-icons {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.api-logo {
    width: 10%;
    height: auto;
}

#geonames-logo {
    background-color: white;
}

#travel-advisory-logo {
    width: 20%
}